.emoji-container {
    background-color: white;
    font-size: 16px;
    padding: 1em;
    max-height: 12em;
    overflow-y: auto;
    position: relative;
}
.emoji-container .btn {
    width: 5em;
    height: 5em;
    overflow: hidden;
}
.emoji-container .btn > img {
    width: 100%;
    height: 100%;
}
.emoji-container .emoji-container-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.emoji-container .emoji-container-close:hover {
    color: dodgerblue;
}