.cocoa-container {
    background-color: #C68E5D;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.profile-selector {
    width: 250px;
    height: 250px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: content;
    border-radius: 10px;
    cursor: pointer;
}
